<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlDePPySS.Properties.Settings.PPSSConnectionString"
            connectionString="Data Source=XPS-L502X\SQLEXPRESS;Initial Catalog=PPSS;User ID=sa;Password=Mexico.2016"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>